:root{
    --primary-color:#7132a2;
    --secondary-color:rgb(173, 198, 223);
    --tertiary-color:#f4faff;
}
.active{
    background-color: var(--primary-color);
    color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.moreheight{
    height: 500vh !important;
}
.active .fa,.active>span>a{
color: white;
}
.floorwise{
    margin-left: 80px !important;
}
.menu-item>span>a{
    font-size: 16px;
}
.activef{
    background-color: var(--primary-color);
    color: white !important;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left:0px !important;
}
.activef a{
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: var(--secondary-color);
}
a{
    text-decoration: none;
}
.top-nav{
    height: 50px;
    background-color: var(--tertiary-color);
}
.top-nav-logo{
    float: right;
    margin-right: 18px;
}
.main{
    display: flex;
    flex-direction: row;
}
.content{
    text-align: center;
    width: 95vw;
    height: 100%;
    background-color: var(--secondary-color);
    vertical-align: center;
}
.main-image{
    border-radius: 20px;
    width: 95%;
    height: 85vh;
    margin-top: 20px;
}
.col-nav{
    display: flex;
    width: 5vw;
    overflow: hidden;
    min-height: 100vh;
    background-color: var(--tertiary-color);
    flex-direction: column;
    padding-left: 10px;
    line-break: normal;
    white-space: nowrap;
}
.col-nav:hover{
    width: 23vw;
    transition: .2s ease-out;
}
.col-nav-logo>img{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 15px;
}
.col-nav-logo>a{
    margin-left: 40px;
    font-size: 25px;
    margin-top: 10px;
}
.col-nav-logo{
    color: var(--primary-color);
    overflow: hidden;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
    display: flex;
}
.fa{
    font-size: 30px;
    color: var(--secondary-color);
}
span a{
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
}
.menu-item{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    padding: 15px;
    text-align: end;
    vertical-align: center;
}
.btn{
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 12px 35px;
    border-radius: 20px;
    border: none;

    font-size: 20px;
}
.purple{
    background-color: var(--primary-color);
    color:white;    
}
.yellow{
    background-color: #F4C724;
    color:white;
}
.threeimages{
    padding-top: 20px; ;
    text-align: center;
    width: 95vw;
    height: 100%;
    background-color: var(--secondary-color);
    vertical-align: center;
    
    justify-content: space-evenly;
}
.whyusimage>img{
    height: 100%;
    width: 100%;
    position: relative;
}
.whyusimage{
    float: left;
    width: 30%;
    margin-top:30px;
    margin-right: 10px;
    margin-left: 10px;
    height: 100vh;
}
.whyusimage>a{
    color: #F4C724;
    position: absolute;
    bottom: 20px;
    font-weight: bold;
}
.one{
    left: 20%;
}
.two{
    left: 55%;
}
.three{
    left: 85%;
}

.maplist{
    position: absolute;
    display: block;
    list-style: none;
    top: 12%;
    cursor: pointer;
}
.green{
    background-color: rgb(14, 212, 14);
}
.maplistitem{
    border-radius: 10px;
    padding: 8px 15px;
    float: right;
    margin-right: 30px;
    color: white;
    border: 1px solid white;
}
.maplistitem>a{
    color: white;
}
.video{
    padding: 0px 0px;
    height: 50vh;
    margin-bottom: 20px;
    flex-direction: column;
}
.videoholder{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-right: 0px; 
}
.videoholder>a>img{
    height: 50vh;
    width: 450px;
    margin-left: 0px;
    margin-right: 20px;
}
.images{
    padding: 0px 0px;
    width: 100%;
    height: 50vh;
}
.imagesholder{
    width: 90%;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 20px;
    justify-content: space-between;
}
.imagesholder>a>img{
    width: 22%;
    height: 50vh;
    margin-right: 20px;

}
.aboutcontainer{
    margin: 0px;
    width: 100%;
    height: auto;
}
h2{
    color: var(--primary-color) !important;    
}
.bigimage{
    width: 60%;
    float: left;
    height: 300px;
}
.bigimage>img{
    max-width: 100%;
    height: 100%;
}
.lists{
    background-color: white;
    margin: 0px 1%;
    width: 36%;
    float: right;
    height: 300px;
    text-align: left;
}
.lists>h3{
    margin-left: 10px;
    color: var(--primary-color);
    font-size: 1.25rem;
}
.half{
    width: 50%;
    float: left;
}
.half>ul {
    list-style: none; /* Remove default bullets */
    text-align: left;
}
.half>ul>li{
    color: var(--primary-color);
    margin-top: 20px;
}

  
.half>ul>li::before {
    content: "\2022"; 
    color: #F4C724;
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
  }
.details{
    width: 100%;
    padding-bottom: 10px;
}
.card>div{
    padding:0px;
    width: 50%;
    float: left;
}
h1{
    margin: 0px;
}
.textextra{
    width: 100% !important;
    height: 100%;
    padding:15px 0px!important;
    color: var(--primary-color);
}
.details>.card{
    width: 16%;
    float: left;
    margin: 0px 10px;
    padding:10px 2px;
    background-color: white;
}
.text{
    padding-top:15px !important;
    color: var(--primary-color);
}
.card>div>h1{
    font-size: 4rem;
    color: #F4C724;

}
.jumbotron{
    margin-top: 20px;
    width: 100%;
    background-color: var(--primary-color);
}
.s{
    font-size: 1rem !important;
}
.wholewidth>div>h1{
    background-color: #F4C724;
    margin-top: 50px !important;
}
.mycontent{
    width: 100%;
    height: 100%;
    padding: 0px !important;
    margin: 0px;
}
.firstrow{
    margin: 0px !important;
    width: 25%;
    height: 100%;
    float: left;
    padding:15px;
}
.firstrow>img{
    width: 100%;
    height: 250px;
    margin: 0px;
}
.secondrow{
    padding:15px;
    width: 25%;
    height: 100%;
    float: left;
}
.secondrow>img{
    width: 100%;
    height: 750px;
}
.thirdrow{
    margin-top: 15px;
    padding-top:15px;
    width: 45%;
    height: 100%;
    background-color: #fff;
    float: left;
}
.thirdrow>.row{
    width: 100%;
    background-color: #7132a2;
}
.col7{
    text-align: left;
    width: 70%;
    float: left;
}
.col3{
    width: 30%;
    float: right;
}